*{  /*aplica a todo el HTML*/
    box-sizing: border-box;
    margin:0; 
    padding:0; 
}

.btn-px {
    font-size: 80px;
}

.btn-rem {
    font-size: 5rem /* 5*16px fuente base =80px*/;
    padding: .5em;
    margin: .25em;    
}

html {
    font-size: 70%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-size: 1em;
    color:antiquewhite;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}


.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    font-family: sans-serif;
    background-color: burlywood; 
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    text-align: center;
    font-weight: bold;
}

.navbar {
    grid-area: navbar;
}

.nav-menu-link:hover {
    background-color: rosybrown; 
}

.main {
    grid-area: main;
    background-color:aquamarine;
}

.sidebar {
    grid-area: sidebar;
    background-color: pink;
}

.footer {
    grid-area: footer;
    background-color: beige;
}

/* LAYOUT CELULAR */
/**************************/


.grid-container {
    display: grid;
    gap: 10px;     /*aqui el ancho de la columna se ajusta automat. asiq solo definimos size rows*/
    grid-template:
        "header"    100px
        "navbar"    50px
        "main"      auto
        "sidebar"   100px
        "footer"    100px;
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: .5em;
    margin: auto;    
}
 

.logotype {
display: flex;
justify-content: left;
}

.nav-menu-link {
    background-color: lightcoral; 
    color: antiquewhite;
    text-decoration: none; /**con esto elimino el subrayado de los link q coloca x default**/
    padding: .5em; /**le amplio la zona sombreada sobre el boton del link**/
    border-radius: .5em; /**redondeo los bordes del sombreado**/
    margin:0.3%; 
 }



/* LAYOUT TABLET */
/**************************/

@media (min-width: 600px) {
    html {
        font-size: 100%;
    }
    .grid-container {
        background-color: rgb(153, 81, 81);
        gap: 10px;
        /* grid-template-columns: 200px auto; */
        /* grid-template-rows: 100px 50px auto 100px; */
        /* grid-template-areas: */
        /* "header  header" */
        /* "navbar  navbar" */
        /* "sidebar main"   */
        /* "footer  footer"; */  /*TODO ESTO Q ESTA COMENTADO lo reemplazo por las lineas siguientes ya q queda simplicado*/

        grid-template:
        /* ".  header"    100px  con un . adelante hacemos q desaparezca esa columna de pantalla*/   
        "header  header"    100px
        "navbar  navbar"    50px
        "sidebar main"      auto
        "footer  footer"    100px /
        200px auto;
    }

    .nav-menu {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: .5em;
        margin: -.5em;
      
    }
    
    .nav-menu-link {
        background-color: rgb(180, 241, 83); 
        color: rgb(118, 108, 95);
        text-decoration: none; /**con esto elimino el subrayado de los link q coloca x default**/
        
    }

    .main {
        background-image: url("/assets/Galeria_con_hamaca_transp_75.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
}


/* LAYOUT DESKTOP */
/***************************/
@media (min-width: 900px) {
    html {
        font-size: 100%;
    }
    .grid-container {
        background-color:pink;
        column-gap: 40px;
        grid-template:
        "header  header header"    100px
        "navbar  main   sidebar "  auto
        "footer  footer footer"    100px /
        120px    auto   200px;
        
    }

    .nav {
        background-color:wheat;
    }
    
    .nav-menu {
        display: inline-block;
   }

    .main {
        background-image: url("/assets/Galeria_con_hamaca_transp_75.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }

   
    .contenedor-definiciones {
        display: flex;
        font-family: 'Roboto', sans-serif;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        padding: 20px 20px;
        gap: 20px;

    }

    .caja {
        /* background-color: antiquewhite; */
        background-color: rgb(226, 209, 185);
        border-radius: 1.5rem;
        padding: 1rem;
    
    }

    .titulo { 
        color:black;
        /* font-weight: bold; */
    }

    .texto {
        color: rgb(164, 75, 75);
    }    
}